#hero {
	background-color: white;
}

#logo {
	padding-top: 104px;
}

#cta {
	color: #323232;
	text-align: center;
	margin-top: 104px; 
	margin-bottom: 24px;
	font-family: nowaymedium;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#soon {
	color: #323232;
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 20vh;
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;

}

#journey {
	background-color: #323232;
	margin-top: 0px;
}

#journey-heading {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	box-shadow: 0px 4px #6C6CFF;
	bottom: 36px;
	border-radius: 14px;
	color: white;
	font-size: 1.4em;
	max-width: 200px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 16px;
	padding-top: 16px;
	background-color: #323232;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

#journey-image {
	margin-top: 96px;
	width: 40%;
	min-width: 532px;
	max-width: 640px;
}

#journey-image-xs {
	margin-top: 12px;
	width: 90%;
	max-width: 640px;
}


#footer-md {
	width: 100vw;
	margin-top: 24px;
}

/* extra large devices 1600+ */

@media (min-width: 1600px) 	{
	#cta {
		font-size: 7em;
	}

	#soon {
		font-size: 2em;
	}

	#journey-image-container-xs {
		display: none;
	}
}

/* large devices 1200-1599 */

@media (min-width: 1200px) and (max-width: 1599px) 	{
	#cta {
		font-size: 6em;
	}

	#journey-image-container-xs {
		display: none;
	}
}

/* medium devices 600-1199 */

@media (min-width: 600px) and (max-width: 1199px) 	{
	#cta {
		font-size: 4em;
	}

	#journey-image-container-xs {
		display: none;
	}
}

/* small devices 599+ */

@media (max-width: 599px) 	{
	#cta {
		font-size: 2.5em;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	}

	#journey-image-container {
		display: none;
	}
}
